.title {background-color: rgb(41, 43, 156); font-size: 23px; font-weight: bold; color: rgb(167, 28, 28); width: auto;
min-height: 60px; text-align: center;}
.lesson{background-color: rgb(156, 43, 149); font-size: 23px; font-weight: bold; color: rgb(0, 255, 21); width: 208px;
min-height: 60px; text-align: left;}